YouRate/YouRate/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61859/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicoSoap" />
  <xs:element name="GetComments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicoSoap" minOccurs="0" name="GetCommentsResult" nillable="true" type="q1:ArrayOfComments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicoSoap" minOccurs="0" name="GetVideoCommentsResult" nillable="true" type="q2:ArrayOfComments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicoSoap" minOccurs="0" name="GetRatingsResult" nillable="true" type="q3:ArrayOfRatings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoRatings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoRatingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVideoRatingsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicoSoap" minOccurs="0" name="GetVideosResult" nillable="true" type="q4:ArrayOfVideos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicoSoap" minOccurs="0" name="GetSingleVideoResult" nillable="true" type="q5:Videos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="videoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="score" type="xs:int" />
        <xs:element minOccurs="0" name="videoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRatingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewVideoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVideoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>