YouRate/YouRate/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoSoap" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoSoap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfComments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comments" nillable="true" type="tns:Comments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComments" nillable="true" type="tns:ArrayOfComments" />
  <xs:complexType name="Comments">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments_Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Comments_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Comments__Video_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comments" nillable="true" type="tns:Comments" />
  <xs:complexType name="ArrayOfRatings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ratings" nillable="true" type="tns:Ratings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRatings" nillable="true" type="tns:ArrayOfRatings" />
  <xs:complexType name="Ratings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ratings_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ratings_Score" type="xs:int" />
      <xs:element minOccurs="0" name="Ratings_Video_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ratings" nillable="true" type="tns:Ratings" />
  <xs:complexType name="ArrayOfVideos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Videos" nillable="true" type="tns:Videos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideos" nillable="true" type="tns:ArrayOfVideos" />
  <xs:complexType name="Videos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Videos_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Videos_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Videos_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Videos_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Videos_URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Videos" nillable="true" type="tns:Videos" />
</xs:schema>